## Flood predictor

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
rainfall=pd.read_csv("data.csv")

In [3]:
rainfall.head()

   YEAR MONTH  MONTH INDEX  RAINFALL  FLOOD
0  1965  Jan             1       0.0      0
1  1965   Feb            2      11.0      0
2  1965   Mar            3       0.0      0
3  1965   Apr            4      24.0      0
4  1965   May            5       0.0      0

In [4]:
rainfall.describe()

              YEAR  MONTH INDEX    RAINFALL       FLOOD
count   660.000000   660.000000  660.000000  660.000000
mean   1992.000000     6.500000  106.504091    0.016667
std      15.886548     3.454671  136.442491    0.128116
min    1965.000000     1.000000    0.000000    0.000000
25%    1978.000000     3.750000    3.800000    0.000000
50%    1992.000000     6.500000   57.000000    0.000000
75%    2006.000000     9.250000  155.250000    0.000000
max    2019.000000    12.000000  995.600000    1.000000

In [5]:
rainfall.corr()

                 YEAR  MONTH INDEX  RAINFALL     FLOOD
YEAR         1.000000     0.000000  0.005600  0.130473
MONTH INDEX  0.000000     1.000000  0.619561  0.179996
RAINFALL     0.005600     0.619561  1.000000  0.182832
FLOOD        0.130473     0.179996  0.182832  1.000000

In [6]:
# selecting all the features within our dataset
features = rainfall[['MONTH INDEX', 'RAINFALL']] 
features = features.to_numpy() # converting feature set to numpy array
target = rainfall['FLOOD'].to_numpy() # converting target column to numpy array
features.shape, len(target)

((660, 2), 660)

In [7]:
from sklearn.model_selection import train_test_split

featureTrain,featureTest,targetTrain,targetTest= train_test_split(features,target,test_size=0.3)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

model= LogisticRegression()
fittedModel=model.fit(featureTrain,targetTrain)
predictions= fittedModel.predict(featureTest)



print(confusion_matrix(targetTest,predictions))

[[192   0]
 [  6   0]]

In [9]:
print(accuracy_score(targetTest,predictions)*100)

96.96969696969697

In [10]:
## define input
new_input = [[7,309]]
example=model.predict(new_input)
print(example)

[0]